<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button shape="round" color="primary" fill="outline" (click)="presentToast()"  >network</ion-button>
<ion-card *ngFor="let news of tab.news" >
    <ion-img src="{{news.url}}"></ion-img>
  
    <ion-card-content>
      <ion-card-title>{{news.titre}}</ion-card-title>
  
      <p> {{news.id}} {{news.article}}</p>
    </ion-card-content>

  </ion-card>
  <ion-row>
    <ion-col>{{text}}</ion-col>
</ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="جاري التحميل...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>


